<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.there.findclips">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FindClipsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.main.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.trackvideos.TrackVideosActivity"
            android:label="@string/title_activity_track_videos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.category.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.playlist.PlaylistActivity"
            android:label="@string/title_activity_playlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.artist.ArtistActivity"
            android:label="@string/title_activity_artist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.album.AlbumActivity"
            android:label="@string/title_activity_album"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.player.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>
</manifest>